::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root{
  --theme-color: #004d40;
}


body {
  font-family: 'Roboto';
  letter-spacing: 1px;
  word-spacing: 2px;
}


.btn{
  position: relative;
  padding: 10px 15px;
  font-size: 1.25rem;
  border-radius: 7.5px;
  border: none;
}

.btn:hover{
  cursor: pointer;
  filter: brightness(75%);
}

.btn > .popup{
  visibility: hidden;
  position: absolute;
  top: -35px;
  right: -32.5px;
  font-size: 1rem;
  border-radius: 5px;
  width: max-content;

  padding: 5px 10px;
  color: white;
  font-weight: bold; 
  background-color: var(--theme-color);
  font-family: 'Roboto';
}





.header-text{
  color: white;
  font-size: 1.5rem;
  font-family: 'Josefin Sans';
}

.header{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.email{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: darkgray;
}

.profile-container {
  position: relative;
  padding: 25px 50px 25px 50px;
  height: max(650px, 65vh);
}

.profile-background{
  display: flex;
  justify-self: center;
  border-radius: 60px 0 0 0;
  position: absolute;
  top: 50px;
  z-index: -1;
  width: 90%;
  height: 220px;
  background-color: var(--theme-color);
}

.profile-container h2 {
  display: flex;
  justify-content: center;
}

.buttons{
  position: absolute;
  right: 100px;
  bottom: 125px;
}

.profile{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}


.fa-rotate-right{
  color: var(--theme-color);
}
.reload-btn{
  background-color: transparent;
  border: 2px solid var(--theme-color);
  padding: 8px 13px;
}
.download-btn, .clear-btn, .upload-btn{
  color: white;
  background-color: var(--theme-color);
}




.profile img {
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 7.5px;
  border-radius: 50%;
  box-shadow: 0 2.5px 20px 5px rgba(0, 0, 0, 0.2);
}

.details{
  padding: 10px;
}

.details div{
  margin: 15px 0;
}

.about{
  padding: 10px 10px 0 10px;
}
.about-text{
  padding: 0 10px 10px 10px;
  word-wrap: break-word;
  height: max(400px, 50vh);
  overflow-y: scroll;
}


.quote {
  padding: 0 20px 20px 20px;
}

.quote > .header-text{
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.quote blockquote {
  font-style: italic;
}

.quote cite {
  display: block;
  margin-top: 10px;
}



.pokemon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}



.friends {
  position: fixed;
  bottom: 0;
  right: 10px;
  padding: 5px 75px 0 50px;
  border-radius: 20px 20px 0 0 ;
  width: max-content;
  background-color: var(--theme-color);
  margin-left: -10px;
}

.friends .fa-solid{
  position: absolute;
  top: 17.5px;
  right: 25px;
  color: white;
  font-size: 2rem;
  padding: 5px;
}

.friends .fa-solid:hover{
  cursor: pointer;
  filter: brightness(50%);
}

.friend{
  color: white;
  padding: 5px;
}



@media (max-width: 900px) {
}